# --- Global ---
.DS_Store
*.pyc
*.pyo
*.pyd
backend/__pycache__/

# --- Frontend (React) ---
frontend/node_modules/


# --- Backend (FastAPI) ---
backend/venv/
backend/.env
backend/__pycache__/
backend/*.sqlite3
